<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Se enfocan principalmente en negocios y restaurantes, con posibilidad de ir a casas, pero todos los productos que ofrecen 
  son principalmente con plagas que se ven en edificios no tanto en residencias.
  Ofrecen servicio de exterminacion, pero su enfoque principal es el vender productos de 
  calidad que permitan aniquilar plagas sin verse en la necesidad de ocupar un dia o un fin de semana completo,
  y asi evitar que el negocio tenga que suspender sus operaciones.
</p>
<p>
  La mision de la empresa es poder atender la creciente demanda de exterminio de plagas de roedores que se desarrolla en la zona 
  sur de la ciudad y zona de restaurantes del centro.
</p>
<p>
  Su vision, es poder proveer un servicio de calidad de manera que puedan ser una fuente confiable de servicio de exterminacion 
  de plagas, y ofrecer productos de calidad que permitan que los clientes solo tengan que usarlos una vez, pero recomendarlos asi mismo mas de una.
</p>