<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contacto: Andres Anaya Esteinou
</p>
<p>
  Nombre de la empresa: CIP Express(Control Integrado de Plagas)
</p>
<p>
  Descripcion: Control de plagas
</p>
<p>
  Especializan en roedores pero hacen todo tipo de exterminacion de eplagas: cucarachas, 
  langostas(las que matan cultivos), gatos, en ocasiones perros callejeros temritas, y polillas.
</p>
<p>
  Ubicados: Colonia San Rafael Delegacion Cuahutemoc, calle Virginia Fabregas #68
</p>
<p>
  Telefono: 5520109639
</p>